!!! 5
html(lang="en")
  head
    title Example
    script
      if (foo) {
        bar();
      }
  body
    h1 Classy - anybody can train on anything
    #container
        classy is a Mozilla hack by peterbe
